apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: product-postgres-pvc
  namespace: default
  labels:
    app: product-service
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path  # K3s default