apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices
  labels:
    app: order-service
spec:
  type: ClusterIP
  ports:
    - port: 8003
      targetPort: 8003
      protocol: TCP
      name: http
  selector:
    app: order-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: microservices
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      imagePullSecrets:
        - name: ghcr-pull
      containers:
        - name: order-service
          image: ghcr.io/kaftaryagmur/order-service:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8003
          env:
            - name: SERVER_PORT
              value: "8003"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: service-secrets
                  key: DATABASE_URL_ORDER

            - name: USER_SERVICE_URL
              value: "http://user-service:8001"
            - name: PRODUCT_SERVICE_URL
              value: "http://product-service:8000"
            - name: PAYMENT_SERVICE_URL
              value: "http://payment-service:8085"

            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://otel-collector:4318"
            - name: OTEL_SERVICE_NAME
              value: "order-service"

          livenessProbe:
            httpGet: { path: /health, port: 8003 }
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet: { path: /health, port: 8003 }
            initialDelaySeconds: 15
            periodSeconds: 5

          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
