apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: microservices
  labels:
    app: payment-service
spec:
  type: NodePort
  ports:
    - port: 8085
      targetPort: 8085
      protocol: TCP
      name: http
  selector:
    app: payment-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: microservices
  labels:
    app: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: ghcr.io/kaftaryagmur/bitirme-payment-service:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8085
          env:
            - name: SERVER_PORT
              value: "8085"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: service-secrets
                  key: DATABASE_URL_PAYMENT
            - name: REDIS_URL
              value: "redis://payment-redis:6379"
            - name: USER_SERVICE_URL
              value: "http://user-service:8001"

            - name: OTEL_ENDPOINT
              value: "http://otel-collector:4317"
            - name: OTEL_SERVICE_NAME
              value: "payment-service"

          livenessProbe:
            httpGet: { path: /api/health, port: 8085 }
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet: { path: /api/health, port: 8085 }
            initialDelaySeconds: 15
            periodSeconds: 5

          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
