apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: microservices
  labels:
    app: user-service
spec:
  type: NodePort
  ports:
    - port: 8001
      targetPort: 8001
      protocol: TCP
      name: http
      nodePort: 32001

  selector:
    app: user-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: microservices
  labels:
    app: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      # PRISMA MIGRATION INIT CONTAINER
      initContainers:
        - name: prisma-migrate
          image: ghcr.io/kaftaryagmur/bitirme-user-service:1.0.0
          imagePullPolicy: IfNotPresent
          command: ["sh", "-lc"]
          args:
            - |
              echo "Ensuring Prisma schema..."
              if [ -d prisma/migrations ] && [ "$(ls -A prisma/migrations 2>/dev/null)" ]; then
                echo "Migrations found → running migrate deploy"
                npx prisma migrate deploy
              else
                echo "No migrations found → running db push"
                npx prisma db push
              fi
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: service-secrets
                  key: DATABASE_URL_USER

      # ASIL UYGULAMA CONTAINER
      containers:
        - name: user-service
          image: ghcr.io/kaftaryagmur/bitirme-user-service:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8001
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "8001"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: service-secrets
                  key: DATABASE_URL_USER
            - name: REDIS_HOST
              value: "user-redis"
            - name: REDIS_PORT
              value: "6379"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: JWT_SECRET
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://otel-collector:4318"
            - name: OTEL_SERVICE_NAME
              value: "user-service"

          livenessProbe:
            httpGet:
              path: /health
              port: 8001
            initialDelaySeconds: 30
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health
              port: 8001
            initialDelaySeconds: 10
            periodSeconds: 5

          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
