apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: order-postgres-pvc
  namespace: default
  labels:
    app: order-service
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path  # K3s default storage class